* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2d2c34;
    align-items: center;
}

.header{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 20px;
}

#icon-container {
    background-color: #e1d9d6;
    width: 75px;
    height: auto;
    border-radius: 25%;
    padding: 5px;
}

#header-text,
ul {
    font-size: 55px;
    color: #e1d9d6;
}

ul {
    list-style: none;
    font-size: 20px;
    text-align: end;
}

a {
    text-decoration: none;
    color: #e1d9d6;
}

.footer {
    display: flex;
    background-color: #8e8684;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 55px;
    border-radius: 25px;
    margin-top: auto;
}

#footer-text {
    color: #19141a;
}